{% extends "base.html" %}
{% block title %}{{ super() }} - Snow Storm{% endblock %}
{% block contents %}
    <div class="container my-5">
        <h1 class="row-cols-1 mt-5 text-center">Charity Run Raises $10 000 for Cancer Research</h1>
        <h6 class="row-cols-1 mt-3 text-center">The annual charity run for cancer research was a huge success, raising over $10,000 for the cause. Thanks to all the participants and sponsors!</h6>
        <h6 class="row-cols-1 mt-3 text-center">2022-08-01</h6>
        <div class="row mt-4">
            <div class="col-md-8">
                <img src="https://th.bing.com/th/id/R.ebc77ca1612163b09b745cff8368b131?rik=7EuH3MqyWaqw9A&pid=ImgRaw&r=0" class="img-fluid mb-3" alt="Snow storm image">
                <p class="lead">Montreal, Canada - The annual charity run for cancer research organized by the students of Institut Teccart has raised over $10,000 for the cause. The event was held on March 17, 2023, at the Parc Jean-Drapeau and saw a great turnout of participants and sponsors.</p>
                <p>The charity run was aimed at raising funds for cancer research and was a huge success thanks to the support of the local community. The participants included students, faculty members, and members of the public, who all ran or walked to show their support for the cause.</p>
                <p>The event was kicked off with an opening ceremony where the participants were welcomed and briefed about the event. The runners then took to the course, which was marked out with colorful flags and balloons, and began their run. The course was designed to be challenging, but also fun and enjoyable for everyone involved.</p>
                <p>Throughout the event, volunteers handed out water and snacks to the participants, who were cheered on by their friends and family. There were also several tents set up along the course, where sponsors and supporters of the event could meet and talk with the participants.</p>
                <p>The atmosphere was electric as the runners approached the finish line, where they were greeted with applause and cheers. A total of 248 participants completed the course, with many others showing their support by making donations.</p>
                <p>After the run, a closing ceremony was held where the organizers thanked everyone involved and announced the total amount raised. The $10,000 raised will be donated to the Canadian Cancer Society to support cancer research.</p>
                <p>Institut Teccart students and faculty members expressed their delight at the success of the event. "We are thrilled to have raised so much money for such an important cause," said event organizer, Marie-Claire Dupont. "We couldn't have done it without the support of the local community, and we are grateful for everyone who participated and contributed."</p>
                <p>The annual charity run for cancer research is a much-anticipated event at Institut Teccart, and this year's success has only added to the anticipation for next year's event.</p>
            </div>
            <div class="col-md-4">
                <div class="card mb-4">
                    <div class="card-header">
                        Latest News
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><a href="/news/snowstorm">Teccart School Closed Due to Snow Storm</a></li>
                        <li class="list-group-item"><a href="/news/newart">New Art Exhibit at the Museum</a></li>
                        <li class="list-group-item"><a href="#">New Computer Science Program Now Accepting Applications</a></li>
                    </ul>
                </div>
                <div class="card">
                    <div class="card-header">
                        Contact Information
                    </div>
                    <div class="card-body">
                        <p><strong>Institut Teccart</strong></p>
                        <p>3030 Hochelaga</p>
                        <p>Montreal, QC H3Z 2Y7</p>
                        <p>Phone: (514) 526-2501</p>
                        <p>Email: info@teccart.com</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
